/* CSS for reporting web app */

body {
    background: white;
}

/* Base */
section {
    padding-top: 100px;
}

/* Graphs */
.graph {
    padding-top: 20px;
}

div#graphRecurrentsAlerts {
    height: 500px;
    margin-bottom: 10px;
    width: 100%;
}

div#graphOldestsAlerts {
    height: 500px;
    width: 100%;
    padding-top: 0px;
}

