/* CSS for reporting web app print */

body {
    padding-top: 0;
    width: 800px;
}

section {
    padding-top: 5px;
}

div#graphRecurrentsAlerts {
    height: 400px;
    margin-bottom: 10px;
    width: 100%;
}

.print-intro {
    padding: 15px 35px 15px 35px;
}

@media print {
    section#Redmine {
        margin-top: 50px;
    }

    section#Redmine, section#Procedures, section#Alerts {
        page-break-after: always;
    }
    
    .hide-print {
        display: none;
    }
}
