/* CSS for reporting web app print */

body {
    padding-top: 0;
    width: 800px;
}

section {
    padding-top: 100px;
}

.graph {
    page-break-after: always;
}

.print-intro {
    padding: 15px 35px 15px 35px;
}

@media print {
    .hide-print {
        display: none;
    }
}
