{% extends "common/base.html" %}

{% block extra_css %}
<link type="text/css" href="/static/django/optools/common/css/ui-lightness/jquery-ui-1.8.9.custom.css" rel="stylesheet" />
<link type="text/css" href="/static/django/optools/common/css/timepicker.css" rel="stylesheet" />
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="/static/django/optools/common/js/jquery-1.5.min.js"></script>
<script type="text/javascript" src="/static/django/optools/common/js/jquery-ui-1.8.9.custom.min.js"></script>
<script type="text/javascript" src="/static/django/optools/common/js/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="/static/django/optools/downtime/js/downtime.js"></script>
{% endblock %}

{% block content %}
<!-- Form -->
<div id="stylized_form" class="form_box">
	<h1>Usage</h1>
	<p>Give a downtime name, add hosts, set period and submit that to Nagios !</p>
	<form action="/downtime/schedule/" method="post">
		{% csrf_token %}
		<label>{{ base_form.downtime_name.label }}
		<span class="small">{{ base_form.downtime_name.help_text }}</span>
		</label>
		{{ base_form.downtime_name }}
		
		<label>{{ base_form.search_host.label }}
		<span class="small">{{ base_form.search_host.help_text }}</span>		
		</label>
		{{ base_form.search_host }}
		
		<div id="host_list"></div>
		
		<div id="period_box">
			<label>{{ base_form.start_period.label }}
			<span class="small">{{ base_form.start_period.help_text }}</span>
			</label>
			{{ base_form.start_period }}
			
			<label>{{ base_form.end_period.label }}
			<span class="small">{{ base_form.end_period.help_text }}</span>
			</label>
			{{ base_form.end_period }}
		</div>		
		
		<label>Recurrent
		<span class="small">Is it a recurrent downtime ?</span>
		</label>
		<input id="recurrent_checkbox" type="checkbox" name="recurrent" />
		
		<div id="recurrent_options">
			<h3>Recurrency options</h3>
			{% for day in days_form %}
				{{ day }}<label class="day_label">{{ day.label }}</label>
			{% endfor %}
			
			<label>{{ base_form.start_time.label }}
			<span class="small">{{ base_form.start_time.help_text }}</span>
			</label>
			{{ base_form.start_time }}
			<label>{{ base_form.end_time.label }}
			<span class="small">{{ base_form.end_time.help_text }}</span>
			</label>
			{{ base_form.end_time }}
		</div>
		
		<!-- Submit button -->
		<div class="spacer"></div>
		<button type="submit">Schedule</button>
	</form>
	<div class="spacer"></div>
</div>
{% endblock %}
