{% extends "common/base.html" %}

{% block extra_css %}
<link type="text/css" href="/static/django/optools/common/css/ui-lightness/jquery-ui-1.8.9.custom.css" rel="stylesheet" />
<link type="text/css" href="/static/django/optools/common/css/timepicker.css" rel="stylesheet" />
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="/static/django/optools/common/js/jquery-1.5.min.js"></script>
<script type="text/javascript" src="/static/django/optools/common/js/jquery-ui-1.8.9.custom.min.js"></script>
<script type="text/javascript" src="/static/django/optools/common/js/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="/static/django/optools/downtime/js/downtime.js"></script>
{% endblock %}

{% block content %}
<!-- Form -->
<div id="downtime_form" class="form_box">
	<h1>Usage</h1>
	<h3 id="desc_form">Give a downtime name, add hosts, set period and submit that to Nagios !</h3>
	<form action="/downtime/schedule/" method="post">
		{% csrf_token %}
		<div class="none{% if form.non_field_errors %} form_errors{% endif %}">
			{{ form.non_field_errors }}
			<div class="spacer"></div>
		</div>

		<div class="fieldWrapper{% if form.downtime_name.errors %} errors{% endif %}">
			<label>{{ form.downtime_name.label }}<span class="small">{{ form.downtime_name.help_text }}</span></label>
			{{ form.downtime_name }}
			{{ form.downtime_name.errors }}
			<div class="spacer"></div>
		</div>

		<fieldset>
			<legend>Schedule following hosts</legend>
			<label>{{ form.search_host.label }}<span class="small">{{ form.search_host.help_text }}</span></label>{{ form.search_host }}

			<div class="fieldWrapper{% if form.host_list.errors %} errors{% endif %}">
				<label>{{ form.host_list.label }}<span class="small">{{ form.host_list.help_text }}</span></label>{{ form.host_list }}
				{{ form.host_list.errors }}
				<div class="spacer"></div>
			</div>
		</fieldset>

		<label>{{ form.is_recurrent.label }}<span class="small">{{ form.is_recurrent.help_text }}</span></label>{{ form.is_recurrent }}

		<fieldset id="period_box">
			<legend>Period range</legend>
			<div class="fieldWrapper{% if form.start_period.errors %} errors{% endif %}">
				<label>{{ form.start_period.label }}<span class="small">{{ form.start_period.help_text }}</span>	</label>{{ form.start_period }}
				{{ form.start_period.errors }}
				<div class="spacer"></div>
			</div>

			<div class="fieldWrapper{% if form.end_period.errors %} errors{% endif %}">
				<label>{{ form.end_period.label }}<span class="small">{{ form.end_period.help_text }}</span>	</label>{{ form.end_period }}
				{{ form.end_period.errors }}
				<div class="spacer"></div>
			</div>
		</fieldset>

		<fieldset id="recurrent_options">
			<legend>Recurrency options</legend>
			<label class="day_label">{{ form.is_monday }} {{ form.is_monday.label }}</label>
			<label class="day_label">{{ form.is_tuesday }} {{ form.is_tuesday.label }}</label>
			<label class="day_label">{{ form.is_wednesday }} {{ form.is_wednesday.label }}</label>
			<label class="day_label">{{ form.is_thursday }} {{ form.is_thursday.label }}</label>
			<label class="day_label">{{ form.is_friday }} {{ form.is_friday.label }}</label>
			<label class="day_label">{{ form.is_saturday }} {{ form.is_saturday.label }}</label>
			<label class="day_label">{{ form.is_sunday }} {{ form.is_sunday.label }}</label>

			<div class="fieldWrapper{% if form.start_time.errors %} errors{% endif %}">
				<label>{{ form.start_time.label }}<span class="small">{{ form.start_time.help_text }}</span></label>{{ form.start_time }}
				{{ form.start_time.errors }}
				<div class="spacer"></div>
			</div>
			<div class="fieldWrapper{% if form.end_time.errors %} errors{% endif %}">
				<label>{{ form.end_time.label }}<span class="small">{{ form.end_time.help_text }}</span></label>{{ form.end_time }}
				{{ form.end_time.errors }}
				<div class="spacer"></div>
			</div>
		</fieldset>

		<!-- Submit button -->
		<div class="spacer"></div>
		<button type="submit">Schedule</button>
	</form>
	<div class="spacer"></div>
</div>
{% endblock %}
