<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoring Keys Indicators</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}js/style.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
    <!--<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.css">-->
    <link rel="stylesheet" href="{{ STATIC_URL }}docs.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
    <style>
        .graph {
            padding-top: 20px;
        }
        h1 {
            padding-top: 100px;
        }
    </style>
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">

</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Reporting</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="#">KPI</a></li>
                    <li><a href="http://monitoring-dc.app.corp/webalizer/">Usage</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
<div class="container">
    <header class="jumbotron subhead" id="overview">
        <div class="subnav">
                    <ul class="nav nav-pills">
                        <li><a href="#Redmine">Requests</a></li>
                        <li><a href="#Hosts">Hosts & Services</a></li>
                        <li><a href="#Procedures">Procedures</a></li>
                        <li><a href="#Repartition">Operating System Repartition</a></li>
                        <li><a href="#Alerts">Alerts</a></li>
                        <li><a href="#RecurrentsAlerts">Recurrents Alerts</a></li>
                        <li><a href="#OldestsAlerts">Oldests Alerts</a></li>
                    </ul>
            </div>
    </header>
        <section id="Redmine"><div class="page-header"><h1>Requests <small>additions &amp; changes</small></h1>
        <div onMouseOver="javascript:deleteAmChart();" onClick="javascript:deleteAmChart();" class="graph" id="graphRequest" style="width: 100%; height: 800px; margin-bottom: 100px;"></div>
        </div></section>

        <section id="Hosts"><div class="page-header"><h1>Hosts & Services</h1>
        <div onMouseOver="javascript:deleteAmChart();" onClick="javascript:deleteAmChart();" class="graph" id="graphHosts" style="width: 100%; height: 400px; margin-bottom: 100px;"></div>
        </div></section>

        <section id="Procedures"><div class="page-header"><h1>Procedures</h1>
        <div onMouseOver="javascript:deleteAmChart();" onClick="javascript:deleteAmChart();" class="graph" id="graphWritten" style="width: 100%; height: 400px; margin-bottom: 100px;"></div>
        </div></section>

        <section id="Repartition"><div class="page-header"><h1>Operating System Repartition</h1>
        <div onMouseOver="javascript:deleteAmChart();" onClick="javascript:deleteAmChart();" class="graph" id="graphEquipement" style="width: 100%; height: 400px; margin-bottom: 100px;"></div>
        </div></section>

        <section id="Alerts"><div class="page-header"><h1>Alerts</h1>
        <div onMouseOver="javascript:deleteAmChart();" onClick="javascript:deleteAmChart();" class="graph" id="graphAlerts" style="width: 100%; height: 400px; margin-bottom: 100px;"></div>
        </div></section>

        <section id="RecurrentsAlerts"><div class="page-header"><h1>Recurrents Alerts <small>on the last 31 days</small></h1>
        <div onMouseOver="javascript:deleteAmChart();" onClick="javascript:deleteAmChart();" class="graph" id="graphRecurrentsAlerts" style="width: 100%; height: 600px; margin-bottom: 100px;"></div>
        </div></section>

        <section id="OldestsAlerts"><div class="page-header"><h1>Oldests Alerts</h1>
        <div onMouseOver="javascript:deleteAmChart();" onClick="javascript:deleteAmChart();" class="graph" id="graphOldestsAlerts" style="width: 100%; height: 600px; margin-bottom: 100px;"></div>
        </div></section>
    </div>

    <!-- FOOTER -->
    <footer class="footer">
        <div class="pull-right"><a class="logo" href="http://intranet.faurecia/"><img src="{{ STATIC_URL }}img/logo_faurecia.png"/></a></div>
        <p>Graphs generated by <a href="http://www.amcharts.com" target="_blank">AmCharts</a></p>
        <p>Brought to you by Monitoring &amp; Reporting Team - All rights reserved</p>
        <p>Copyright &copy; Monitoring &amp; Reporting 2006-2012</p>
    </footer>
    <!-- /FOOTER -->

    <script src="{{ STATIC_URL }}js/amstock.js"></script>
    <script src="{{ STATIC_URL }}js/createGraphs.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}js/style.css">
    <script type="text/javascript">
        var chartDataRecurrentsAlerts = {{ chart_data_recurrents_alerts|safe }},
        chartDataAlerts = {{ chart_data_alerts|safe }},
        chartDataRequest = {{ chart_data_request|safe }},
        chartDataNagios = {{ chart_data_nagios|safe }},
        other = {{ number_others|safe }},
        chartDataOldestsAlerts = {{ chart_data_oldests_alerts|safe }};

        AmCharts.ready(function () {
            createRequests();
            createHosts();
            createWritten();
            createEquipements();
            createAlerts();
            createRecurrentsAlerts();
            createOldestsAlerts();
            deleteAmChart();
        });
    </script>
    <!--<script src="{{ STATIC_URL }}js/bootstrap.js"></script>-->
    <!--<script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>-->
    <!--<script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>-->
    <!--<script src="{{ STATIC_URL }}js/jquery.js"></script>-->

</body>
</html>
