<!DOCTYPE HTML>
<html >
<head>
    <title>Monitoring Keys Indicators</title>

    <script src="{{ STATIC_URL }}js/amstock.js"></script>
    <script src="{{ STATIC_URL }}js/createGraphs.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}js/style.css">
    <script type="text/javascript">
        var chartDataRequest = {{ chart_data_request|safe }};
        AmCharts.ready(function () {
            createRequests();
            deleteAmChart();
        });
    </script>

</head>
<body>
    <div onMouseOver="javascript:deleteAmChart();" onClick="javascript:deleteAmChart();" id="graphRequest" style="width: 100%; height: 800px;"></div>
</body>
</html>