<!DOCTYPE HTML>
<html >
<head>
    <title>Monitoring Keys Indicators</title>

    <script src="{{ STATIC_URL }}js/amstock.js"></script>
    <script src="{{ STATIC_URL }}js/createGraphs.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}js/style.css">
    <script type="text/javascript">
        var chartData = {{ chart_data|safe }};
        AmCharts.ready(function () {
            createRequests(chartData);
            deleteAmChart();
        });
    </script>

</head>
<body>
    <div onMouseOver="javascript:deleteAmChart();" id="chartContainer" style="width: 640px; height: 400px;"></div>
    <div onMouseOver="deleteAmChart()" id="chartContainer2" style="width: 640px; height: 400px;"></div>
</body>
</html>