<!DOCTYPE HTML>
<html >
<head>
    <title>amCharts JS Tutorial Part 1</title>

    <!--<script src="{{ STATIC_URL }}js/amcharts.js" type="text/javascript"></script>-->
    <script src="{{ STATIC_URL }}js/amstock.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/createGraphs.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}js/style.css">
    <script type="text/javascript">
        var chartData = {{ chart_data|safe }};
        window.onload = function () {
            createRequests(chartData);
        }
    </script>

</head>
<body>
    <div id="chartContainer" style="width: 640px; height: 400px;"></div>
</body>
</html>