{% extends "common/base.html" %}

{% load gravatar %}

{% block content %}
    <div class="page-header">
        <h1>Edit your user profile</h1>
    </div>

    {% if form.errors %}
        <div class="alert alert-error">
            <p>Please correct the following errors.</p>
            {{ form.errors }}
        </div>
    {% endif %}

    <div class="row">
        <div class="span10">
            <h5>Provides some information about you.</h5>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <form class="well" action="" method="post">{% csrf_token %}
                {% for field in form %}
                    {{ field.label_tag }}
                    {{ field }}
                    <span class="help-block">{{ field.help_text }}</span>
                {% endfor %}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary" data-loading-text="Please wait...">Save changes</button>
                </div>
            </form>
        </div>
        {% if request.user.email %}
        <div class="span2">
            {% gravatar_img_for_email request.user.email 170 extra_style="img-polaroid" %}
            <div class="align-center"><a target="_blank" href="http://www.gravatar.com/">Customize</a></div>
        </div>
        {% endif %}
    </div>
{% endblock %}
