/*
**
** Downtime style CSS
**
*/

html * { padding:0; margin:0; }
body {
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}

/* Headers elements */
h1, h2, h3, h4 {
	font-family: "Trebuchet MS",Verdana,sans-serif;
	margin-left: 5px;
}
h1 { font-size: 24px; }
h2 { margin-bottom:.8em; }
h2 span { font-size:80%; color:#666; font-weight:normal; }
h3 { margin:0 0 15px 0; }
h4 { margin:0 0 .5em 0; font-weight: normal; }

.spacer{clear:both; height:1px;}

/* ----------- Form styles ----------- */
.form_box {
	margin: 5px auto 0 5px;
	width:600px;
	padding:14px;
}

	/* ----------- stylized ----------- */
	#stylized_form {
		border:solid 2px #b7ddf2;
		background:#ebf4fb;
	}
	#stylized_form h1 {
		font-size:14px;
		font-weight:bold;
		margin-bottom:8px;
	}
	#stylized_form p{
		font-size:11px;
		color:#666666;
		margin-bottom:20px;
		border-bottom:solid 1px #b7ddf2;
		padding-bottom:10px;
	}
	#stylized_form label{
		display:block;
		font-weight:bold;
		text-align:right;
		width:240px;
		float:left;
	}
	#stylized_form .small{
		color:#666666;
		display:block;
		font-size:11px;
		font-weight:normal;
		text-align:right;
		width:240px;
	}
	#stylized_form input{
		float:left;
		font-size:12px;
		padding:4px 2px;
		border:solid 1px #aacfe4;
		width:300px;
		margin:2px 0 20px 10px;
	}
	#stylized_form input:hover {
		border:solid 1px #FF7900;
	}
	#stylized_form #search{
		margin:2px 0 5px 10px;
	}
	#stylized_form input[type="checkbox"] {
		width: auto;
	}
	#stylized_form #host_list{
		float:left;
		background-color: white;
		font-size:12px;
		padding:4px 2px;
		border:solid 1px #aacfe4;
		width:300px;
		height: 100px;
		margin:2px 0 20px 250px;
	}
	#stylized_form button{
		clear:both;
		margin-left: 250px;
		margin-top: 10px;
		width:125px;
		height:31px;
		background:#666666;
		text-align:center;
		line-height:31px;
		color:#FFFFFF;
		font-size:11px;
		font-weight:bold;
	}
	#stylized_form button:hover{
		background:#2B2626;
	}
	#stylized_form #recurrent_options {	
		display: none;
		padding: 5px;
		border:solid 1px #aacfe4;
		float: left;
		width: 590px;
	}
	#stylized_form #recurrent_options label.day_label{
		display: block;
		font-weight: normal;
		text-align: left;
		width: auto;
		float:left;
	}
	#stylized_form #recurrent_options input:first-child {
		margin-left: 1em;
	}
	#stylized_form #recurrent_options .hour_input{
		width: 100px;
	}

#top-menu {
	background: none repeat scroll 0 0 #2C4056;
	color: #FFFFFF;
	font-size: 0.8em;
	height: 1.8em;
	padding: 2px 2px 0 6px;
}

#top-menu ul {
    margin: 0;
    padding: 0;
}
#top-menu li {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
#top-menu a {
	color: white;
	font-weight: bold;
	margin-right:  8px;
}
#top-menu a:hover {
	color: #858585;
}

#account {
    float: right;
}

a, a:link, a:visited {
    color: #116699;
    text-decoration: none;
}
a:hover {
	color: #154C6D;
}

#title { margin-bottom: 20px; padding:10px 20px; border-bottom:1px solid #ddd; background-color: #507AAA; color: #F8F8F8; }
#title h2 { font-weight: normal; color: #666; }
#explanation { background:#eee; }
#instructions { background:#f6f6f6; }
#summary table { border:none; background:transparent; }
