/* Common CSS definitions */

html, body {
    height: 100%;
}

body {
    /*background: url("img/background.png") repeat 0 0;*/
    background: url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAOklEQVQYV2NkIAIwEqGGAa7o69ev9dzc3I0wTch8FEUgBSCFIAUwNojGMAlmAk6TiLKOoCJ8viQqCACWiiwKxbTRYQAAAABJRU5ErkJggg==)
    repeat;
}

/* Pushers */
.push-50 {
    height: 50px;
}
.push-100 {
    height: 100px;
}

.page-header {
    border-bottom: 1px solid rgb(219, 223, 230);
}

.thumbnail {
    background-color: white;
}

/*
================================================================================
 POSITIONS
================================================================================
*/

.align-center {
    text-align: center;
}

/*
================================================================================
 FOOTER STICKY
================================================================================
*/

/* Wrapper to have a sticky footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0px auto -100px;
}

/* Footer block */
footer {
    height: 100px;
    padding-top: 5px;
    /*background-color: #333;*/
    background: url("img/background_footer.png") repeat 0 0;
    color: #999;
}

footer .container {
    padding-top: 15px;
}

footer a.logo-faurecia {
    background-image: url("img/logo_faurecia.png");
    background-repeat: no-repeat;
    width: 150px;
    height: 43px;
}
