/* Common CSS definitions */

html, body {
    height: 100%;
}

/* Pushers */
.push-50 {
    height: 50px;
}
.push-100 {
    height: 100px;
}

/*
================================================================================
 POSITIONS
================================================================================
*/

.align-center {
    text-align: center;
}

/*
================================================================================
 FOOTER STICKY
================================================================================
*/

/* Wrapper to have a sticky footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0px auto -100px;
}

/* Footer block */
footer {
    height: 100px;
    padding-top: 5px;
    background-color: #333;
    color: #999;
}

footer .container {
    padding-top: 15px;
}

footer a.logo-faurecia {
    background-image: url("img/logo_faurecia.png");
    background-repeat: no-repeat;
    width: 150px;
    height: 43px;
}