/* Charts Stylesheet */

.chart {
	float: left;
	border: solid 2px #A9A9A9;
	margin: 0 25px 25px 25px;
	padding: 5px;
}
.piechart {
	width: 300px;
	height: 300px;
}
.barchart {
	width: 600px;
	height: 300px;
}
