/* Charts Stylesheet */

div.chart_table {
	width: 1000px;
	padding: 5px;
}

.chart {
	float: left;
	border: solid 2px #A9A9A9;
	margin: 5px;
}
.piechart {
	width: 300px;
	height: 300px;
}
.barchart {
	width: 600px;
	height: 300px;
}

span.notes {
	float: right;
	margin-right: 5px;
	font-size: 7pt;
	color: grey;
}

/* Tables */
table {
	border-width:1px; 
	border-style:solid; 
	border-color: #A9A9A9;
	border-collapse:collapse;
	margin-bottom: 15px;
	margin-left: 5px;
}
td {
	border-width:1px;
	border-style:solid;
	border-color: #A9A9A9;
}
th {
	border-width:1px;
	border-style:solid;
	border-color: #A9A9A9;
	background-color: #707677;
	color: white;
}


/* Top table */
table.top_ack_alerts a { color: blue; }
table.top_ack_alerts a:hover { text-decoration: underline; }

tr.state1 { background-color: #ffffb3; }
tr.state2 { background-color: #ffb3b3; }
td.date { font-weight: bold; width: 200px; }
td.host { font-weight: bold; width: 150px; }
td.service { width: 400px; }
