<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoring Keys Indicators</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}kpi/js/style.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}kpi/css/bootstrap.css"/>
    <!--<link rel="stylesheet" href="{{ STATIC_URL }}kpi/css/bootstrap-responsive.css">-->
    <link rel="stylesheet" href="{{ STATIC_URL }}kpi/css/docs.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}kpi/css/base.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}kpi/css/print.css"/>
    <style>
        .graph {
            padding-top: 20px;
        }
        h1 {
            padding-top: 100px;
        }
    </style>
    <link rel="shortcut icon" href="{{ STATIC_URL }}kpi/favicon.ico"/>

</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50" onmouseover="deleteAmChart()" onmousewheel="deleteAmChart()">
<div class="navbar navbar-fixed-top hideprint">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Reporting</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="#">KPI</a></li>
                    <li><a href="/webalizer" target="_blank">Web Stats</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
<div class="container">
    <![if gte IE 9]>
    <header class="jumbotron subhead hideprint" id="overview">
        <div class="subnav">
                    <ul class="nav nav-pills">
                        <li><a href="#Redmine">Requests</a></li>
                        <li><a href="#Hosts">Hosts & Services</a></li>
                        <li><a href="#Procedures">Procedures</a></li>
                        <li><a href="#Repartition">Operating System Repartition</a></li>
                        <li><a href="#Alerts">Alerts</a></li>
                        <li><a href="#RecurrentsAlerts">Recurrents Alerts</a></li>
                        <li><a href="#OldestsAlerts">Oldests Alerts</a></li>
                        <li class="pull-right">
                            <a href="javascript:affichage_popup('Graphiques.html','PrintGraphs');">
                                <i class="icon-print"></i> Print
                            </a>
                        </li>
                    </ul>
            </div>
    </header>
        <p style="margin-top: 100px;" class="pull-right">
            <small>Last update: {{ today }}</small>
        </p>
        <section id="Redmine">
            <div class="page-header">
                <h1>Requests <small>additions &amp; changes</small></h1>
                <div class="graph" id="graphRequest" style="width: 100%; height: 800px; margin-bottom: 20px;"></div>
                <div style="text-align: center; width: 100%; margin-bottom: 50px;" class="hideprint">
                    <h3 style="margin-bottom: 20px;">Quick links</h3>
                    <a class="btn btn-primary" href="/tracking/issues?query_id=4" target="_blank">Opened Requests</a>
                    <a class="btn btn-primary" href="/tracking/issues?query_id=36" target="_blank">Hot subjects</a>
                    <a class="btn btn-primary" href="/tracking/issues?query_id=33" target="_blank">Issues closed last 30 days</a>
                    <a class="btn btn-primary" href="/tracking/projects" target="_blank">Projects</a>
                </div>
            </div>
        </section>

        <section id="Hosts">
            <div class="page-header">
                <h1>Hosts & Services <small>monitored in Nagios</small></h1>
                <div class="graph" id="graphHosts" style="width: 100%; height: 400px; margin-bottom: 20px;"></div>
                <div style="text-align: center; width: 100%; margin-bottom: 50px;" class="hideprint">
                    <h3 style="margin-bottom: 20px;">Quick links</h3>
                    <a class="btn btn-primary" href="/thruk/cgi-bin/status.cgi?hostgroup=all&style=hostdetail" target="_blank">List all Hosts</a>
                    <a class="btn btn-primary" href="/thruk/cgi-bin/status.cgi?style=detail" target="_blank">List all Services</a>
                </div>
            </div>
        </section>

        <section id="Procedures">
            <div class="page-header">
                <h1>Procedures <small>assigned to Nagios alerts</small></h1>
                <div class="graph" id="graphWritten" style="width: 100%; height: 400px; margin-bottom: 20px;"></div>
                <div style="text-align: center; width: 100%; margin-bottom: 50px;" class="hideprint">
                    <h3 style="margin-bottom: 20px;">Quick links</h3>
                    <a class="btn btn-success" href="{{ STATIC_URL }}simple_report.csv"><i class="icon-download-alt icon-white"></i> Download csv - Procedures</a>
                    <a class="btn btn-success" href="{{ STATIC_URL }}detailled_report.csv"><i class="icon-download-alt icon-white"></i> Download csv - Services and Procedures</a>
                    <a class="btn btn-primary" href="/kb/start?do=index" target="_blank">List all Procedures</a>
                </div>
            </div>
        </section>

        <section id="Repartition">
            <div class="page-header">
                <h1>Operating System Repartition <small>as seen in Nagios</small></h1>
                <div class="graph" id="graphEquipement" style="width: 100%; height: 400px; margin-bottom: 20px;"></div>
                <div style="text-align: center; width: 100%; margin-bottom: 50px;" class="hideprint">
                    <h3 style="margin-bottom: 20px;">Quick links</h3>
                    <a class="btn btn-primary" href="/thruk/cgi-bin/status.cgi?hostgroup=sys_windows&style=hostdetail" target="_blank">List all Windows</a>
                    <a class="btn btn-primary" href="/thruk/cgi-bin/status.cgi?hostgroup=sys_aix&style=hostdetail" target="_blank">List all Aix</a>
                    <a class="btn btn-primary" href="/thruk/cgi-bin/status.cgi?hostgroup=sys_linux&style=hostdetail" target="_blank">List all Linux</a>
                </div>
            </div>
        </section>

        <section id="Alerts">
            <div class="page-header">
                <h1>Alerts <small>triggered in Nagios</small></h1>
                <div class="graph" id="graphAlerts" style="width: 100%; height: 400px; margin-bottom: 20px;"></div>
                <div style="text-align: center; width: 100%; margin-bottom: 50px;" class="hideprint">
                    <h3 style="margin-bottom: 20px;">Quick links</h3>
                    <a class="btn btn-primary" href="/thruk/cgi-bin/history.cgi?host=all" target="_blank">Alert History</a>
                    <a class="btn btn-primary" href="/thruk/cgi-bin/tac.cgi" target="_blank">Tactical Overview</a>
                </div>
            </div>
        </section>

        <section id="RecurrentsAlerts">
            <div class="page-header">
                <h1>Recurrents Alerts <small>on the last 31 days</small></h1>
                <div class="graph" id="graphRecurrentsAlerts" style="width: 100%; height: 500px; margin-bottom: 10px;"></div>
            </div>
        </section>

        <section id="OldestsAlerts">
            <div class="page-header">
                <h1>Oldests Alerts <small>active in Nagios</small></h1>
                <div id="graphOldestsAlerts" style="width: 100%; height: 500px; margin-bottom: 10px;"></div>
            </div>
        </section>
    <![endif]>
    <!--[if lt IE 9]>
    <div class="hero-unit">
        <h1 style="padding-top: 30px;">No support for your browser</h1>
        <p style="padding-top: 50px; text-align: center;"><img src="{{ STATIC_URL }}kpi/img/ie.png" />  Internet Explorer is not supported because of the latest technologies used to draw the graphs.<br /><br />
            <img src="{{ STATIC_URL }}kpi/img/firefox.png" />
            <a class="btn btn-success" href="http://www.mozilla.org/en-US/firefox/new/" target="_blank">
                <i class="icon-download-alt icon-white"></i> Download Mozilla Firefox Now
            </a><br /><br />
            Here's a brief recap on the technologies used on this page and their support by Internet Explorer : <br /><br />
            <img src="{{ STATIC_URL }}kpi/img/ie_support.png" />
        </p>
    </div>
    <h2>More informations about Mozilla firefox : </h2>
    <p>
        <a href="http://www.mozilla.org/en-US/firefox/central/" target="_blank">Getting started with Mozilla Firefox</a><br />
        <a href="http://fr.wikipedia.org/wiki/Mozilla_Firefox" target="_blank">Mozilla Firefox on Wikipedia</a><br />
        <a href="http://www.mozilla.org/en-US/firefox/organizations/" target="_blank">Mozilla Firefox ESR for buisnesses</a><br />
        <a href="http://www.mozilla.org/en-US/firefox/organizations/faq" target="_blank">Mozilla Firefox ESR Frequently Asked Questions</a><br />
    </p>
    <h2>Feeling Entreprising and innovative ?</h2>
    <p>
        <img src="{{ STATIC_URL }}kpi/img/chrome.png" />
        <a href="http://www.google.com/chrome/intl/fr/business/download.html" target="_blank"> Try Google Chrome for Buisness</a><br />
    </p>
    <![endif]-->
    </div>
    <![if gte IE 9]>
    <!-- FOOTER -->
    <footer class="footer hideprint">
        <div class="pull-right"><a class="logo" href="http://intranet.faurecia/" target="_blank"><img src="{{ STATIC_URL }}kpi/img/logo_faurecia.png"/></a></div>
        <p>Graphs generated by <a href="http://www.amcharts.com" target="_blank">AmCharts</a></p>
        <p>Brought to you by <a href="mailto:DL-ITOP-MONITORING@faurecia.com?cc=9OPMonitoring@faurecia.com&subject=Monitoring%20Keys%20Indicators%20:%20"> Monitoring &amp; Reporting Team</a>, 2006-2012</p>
    </footer>
    <!-- /FOOTER -->

    <script src="{{ STATIC_URL }}kpi/js/amstock.js"></script>
    <script src="{{ STATIC_URL }}kpi/js/createGraphs.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}kpi/js/style.css">
<script language="JavaScript">
    function affichage_popup(nom_de_la_page, nom_interne_de_la_fenetre)
    {
        var expression = /Graphiques.html/g;
        if (window.location.href.match(expression)) {
            window.focus();
            window.resizeTo(900, 800);
            print();
        }
        else {
            var win = window.open (nom_de_la_page, nom_interne_de_la_fenetre, config='height=800, width=900, toolbar=no, menubar=no, scrollbars=no, resizable=0, location=no, directories=no, status=no')
            win.document.close();
            win.focus();
            window.resizeTo(900, 800);
        }
    }
</script>
    <script type="text/javascript">
        var chartDataRecurrentsAlerts = {{ chart_data_recurrents_alerts|safe }},
        chartDataAlerts = {{ chart_data_alerts|safe }},
        chartDataRequest = {{ chart_data_request|safe }},
        chartDataNagios = {{ chart_data_nagios|safe }},
        other = {{ number_others|safe }},
        chartDataOldestsAlerts = {{ chart_data_oldests_alerts|safe }};
        chartDataProcedures = {{ chart_data_procedures|safe }};

        AmCharts.ready(function () {
            createRequests();
            createHosts();
            createWritten();
            createEquipements();
            createAlerts();
            createRecurrentsAlerts();
            createOldestsAlerts();
            deleteAmChart();
            var expression = /Graphiques.html/g;
            if (window.location.href.match(expression)) {
                print();
            }
        });
    </script>
    <!--<script src="{{ STATIC_URL }}kpi/js/bootstrap.js"></script>-->
    <!--<script src="{{ STATIC_URL }}kpi/js/bootstrap-collapse.js"></script>-->
    <!--<script src="{{ STATIC_URL }}kpi/js/bootstrap-scrollspy.js"></script>-->
    <script src="{{ STATIC_URL }}kpi/js/jquery.js"></script>
    <![endif]>

</body>
</html>
