{% extends "common/base.html" %}

{%  block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}kb/css/kb.css">
{% endblock %}

{%  block extra_scripts %}
	<script src="{{ STATIC_URL }}kb/js/kb_rating.js"></script>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Procedure rating
            <small>rate quality of a procedure</small>
        </h1>
    </div>

	<div class="row">
		<div class="span8">
			<p>You are about to rate procedures that are written. You are the
				judge.</p>
			<p>Select one or more procedures then choose the rating. You can enter a
				comment too.</p>

			<h4>KB Namespaces</h4>
			<table class="table">
				<tbody>
				{% for page in all_kb_namespaces %}
					<tr class="kb-row" data-row-id="{{ page }}">
						<td><a class="kb-link" href="{% url show_kb page %}" target="_blank">{{ page }}</a></td>
					</tr>{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="span4">
			<p>
				<button id="kb-btn-select-all" class="btn btn-mini" type="button">Select All</button>
				<button id="kb-btn-unselect-all" class="btn btn-mini" type="button">Unselect All</button>
			</p>
			<div class="kb-rating-box well" data-spy="affix" data-offset-bottom="100">
				<h5>Rate</h5>
				<p>
					<span data-rating="bad" class="label label-important">Bad</span>
					<span data-rating="average" class="label label-warning">Average</span>
					<span data-rating="good" class="label label-success">Good</span>
					<span data-rating="excellent" class="label label-excellent">Excellent</span>
				</p>
				<h5>Comment <small>(optional)</small></h5>
				<!--suppress HtmlFormInputWithoutLabel -->
				<input class="input-xlarge" type="text" id="comment" placeholder="Comment your choice (optional)">
			</div>
		</div>
    </div>
{% endblock %}