{% extends "common/html_headers.html" %}

{% block page %}
<!-- Top menu -->
<div id="top-menu">
	<div id="account">
		<ul>
			{% if user.is_authenticated %}
			<li>Logged in as: <strong><a href="javascript:void(0);">{{ user.first_name }} {{ user.last_name }}</a></strong></li>
			<li><strong><a href="/accounts/logout">Logout</a></strong></li>
			{% else %}
			<li><strong><a href="/accounts/login/?next={{ path }}">Login</a></strong></li>
			{% endif %}
		</ul>
	</div>
	<ul>
		{% if user.is_authenticated and user.is_superuser %}
		<li><a href="/admin">Administration</a></li>
		{% endif %}
	</ul>
</div>

<!-- Title -->
<div id="title">
	<h1>{% block title %}{{ title }}{% endblock %}</h1>
</div>

{% block content %}{% endblock %}

{% endblock %}
