{% extends "common/html_headers.html" %}

{% block page %}
<!-- Top menu -->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Central Operations Tools</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="{{ section.home }}"><a href="/tracking"><i class="icon-home icon-white"></i> Home</a></li>
                    <li class="{{ section.kpi }}"><a href="{% url apps.kpi.indicateurs.indicateurs %}"><i class="icon-picture icon-white"></i> Reporting</a></li>
                    {% if user.is_authenticated and user.is_superuser %}
                    <li class="pull-right"><a href="{% url admin:index %}"><i class="icon-fire icon-white"></i> Administration</a></li>
                    {% endif %}
                </ul>
                {% if user.is_authenticated %}
                    <div class="btn-group pull-right">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-user"></i> {% if user.first_name and user.last_name %}{{ user.first_name }} {{ user.last_name }}{% else %}Edit your profile !{% endif %} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url user_profile %}">Profile</a></li>
                        </ul>
                    </div>
                {% else %}
                    <p class="navbar-text pull-right"><a class="btn" href="{% url django.contrib.auth.views.login %}?next={{ request.path }}"><i class="icon-user"></i> Login</a></p>
                {% endif %}
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div id="wrap">
    <div id="main" class="container">
        {% block content %}{% endblock %}
        <div class="push"></div>
    </div> <!-- /container -->
</div>
{% endblock %}
