{% extends "common/base.html" %}

{% block extra_css %}{% endblock %}

{% block extra_scripts %}{% endblock %}

{% block extra_modals %}{% endblock %}

{% block content %}
<div class="container">
    <div class="hero-unit">
        <h1>Browser not supported !</h1>
        <p>You will encounter some problems visiting this website with legacy browsers.
        Please either use latest version of <strong>Internet Explorer</strong> or <strong>Mozilla Firefox</strong>.</p>
    </div>

    <section id="">
    <div class="page-header">
        <h1>More information <small>about supported browsers</small></h1>
    </div>
    <div class="row">
        <div class="span6">
            <h2>Mozilla Firefox</h2>
            <p><a href="http://www.mozilla.org/en-US/firefox/central/" target="_blank">Getting started with Mozilla Firefox</a></p>
            <p><a href="http://fr.wikipedia.org/wiki/Mozilla_Firefox" target="_blank">Mozilla Firefox on Wikipedia</a></p>
        </div>
        <div class="span6">
            <h2>Microsoft Internet Explorer</h2>
            <p>You <strong>must</strong> upgrade it at least to version 9.0 (no compatibility mode).</p>
        </div>
    </div>
    </section>
</div>
{% endblock %}
