{% block modal-prelogin %}
<div class="modal fade hide" id="modal-browser-not-supported">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Your browser is not supported !</h3>
    </div>
    <div class="modal-body">
		<p>You will encounter some problems visiting this website with legacy browsers.
		   Please either use latest version of <strong>Internet Explorer</strong> or <strong>Mozilla Firefox</strong>.</p>
        <p>Click anywhere on the black area or on the cross to quit.</p>
    </div>
</div>
{% endblock %}
