{% extends "common/base.html" %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Login</h1>
    </div>

    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form class="well" method="post" action="{% url "django.contrib.auth.views.login" %}">{% csrf_token %}
        {% for field in form %}
        {{ field.label_tag }}
        {{ field }}
        <span class="help-block">{{ field.help_text }}</span>
        {% endfor %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
{% endblock %}
