/* CSS for app kb */

.kb-link-missing {
    color: #f06350;
}

.kb-namespace-select {
    position: relative;
    font-weight: bold;
    font-size: 32pt;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: solid 1px #bbbbbb;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background-color: #ededed;
    word-wrap: break-word;
}

.kb-namespace-select .dropdown-menu {
    font-weight: normal;
    font-size: 14pt;
}

.kb-namespace-select:after {
    content: "Namespace selection";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #bbbbbb;
    color: #9da0a4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}
