{% extends "common/base.html" %}

{% block extra_css %}
<link type="text/css" href="/static/django/optools/reporting/css/charts.css" rel="stylesheet" />
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="/static/django/optools/reporting/swfobject.js"></script>
<script type="text/javascript">
	// Pie chart
	swfobject.embedSWF(
		"/static/django/optools/reporting/ofc.swf", "chart_procedure",
		"300", "300", "9.0.0", "/static/django/optools/reporting/expressInstall.swf",
		{"data-file":"{% url optools.apps.reporting.views.procedure_stat_data %}"},
		null,
		{"styleclass":"chart piechart"}
	);
	
	// Alerts chart
	swfobject.embedSWF(
		"/static/django/optools/reporting/ofc.swf", "chart_open_ack",
		"600", "300", "9.0.0", "/static/django/optools/reporting/expressInstall.swf",
		{"data-file":"{% url optools.apps.reporting.views.alerts_stat_data %}"},
		null,
		{"styleclass":"chart barchart"}
	);
</script>
{% endblock %}

{% block content %}
<h2>Top 5 - Oldest acknowledged alerts</h2>
<div>
{% if top_ack_alerts_error %}
	<span class="error">{{ top_ack_alerts_error }}</span>
{% else %}
<table class="top_ack_alerts">
	<th>Date</th>
	<th>Hostname</th>
	<th>Service</th>
	{% for ack_alert in top_ack_alerts %}
		<tr class="state{{ ack_alert.state }}"><td class="date">{{ ack_alert.date }}</td><td class="host"><a href="http://monitoring-dc.app.corp/thruk/cgi-bin/status.cgi?host={{ ack_alert.host }}">{{ ack_alert.host }}</a></td><td class="service"><a href="http://monitoring-dc.app.corp/thruk/cgi-bin/extinfo.cgi?type=2&host={{ ack_alert.host }}&service={{ ack_alert.service }}">{{ ack_alert.service }}</a></td></tr>
	{% endfor %}
</table>
{% endif %}
</div>

<h2>KPI about procedures and alerts</h2>
<div class="chart_table">
	<div id="chart_procedure"></div>
	<div id="chart_open_ack"></div>
	<div class="spacer"></div>
</div>
<span class="notes"><strong>Notes:</strong> data for procedures and ack alerts are updated each weeks.</span>
{% endblock %}
