{% extends "common/base.html" %}

{% block extra_css %}
<link type="text/css" href="/static/django/optools/reporting/css/charts.css" rel="stylesheet" />
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="/static/django/optools/reporting/swfobject.js"></script>
<script type="text/javascript">
	// Pie chart
	swfobject.embedSWF(
		"/static/django/optools/reporting/ofc.swf", "chart_procedure",
		"300", "300", "9.0.0", "/static/django/optools/reporting/expressInstall.swf",
		{"data-file":"./data/procedure"},
		null,
		{"styleclass":"chart piechart"}
	);
	
	// Ack chart
	swfobject.embedSWF(
		"/static/django/optools/reporting/ofc.swf", "chart_open_ack",
		"600", "300", "9.0.0", "/static/django/optools/reporting/expressInstall.swf",
		{"data-file":"./data/ack", "styleclass":"chart barchart"},
		null,
		{"styleclass":"chart barchart"}
	);
</script>
{% endblock %}

{% block content %}
<h2>Top 5 - Oldest acknowledged alerts</h2>
<div>
{% if top_ack_alerts_error %}
	<span class="error">{{ top_ack_alerts_error }}</span>
{% else %}
	{{ top_ack_alerts }}
{% endif %}
</div>

<h2>Statistical data about procedures and active acknowledged alerts in Nagios</h2>
<div class="chart_table">
	<div id="chart_procedure"></div>
	<div id="chart_open_ack"></div>
	<div class="spacer"></div>
</div>
<span class="notes"><strong>Notes:</strong> data for procedures and ack alerts are updated each weeks.</span>
{% endblock %}
