{% extends "common/base.html" %}

{% block content %}
<div class="page-header">
    <h1>Edit your user profile</h1>
</div>

{% if form.errors %}
<div class="alert alert-error">
    <p>Please correct the following errors.</p>
    {{ form.errors }}
</div>
{% endif %}

<div class="row">
    <div class="span12">
        <form class="well" action="" method="post">{% csrf_token %}
            {% for field in form %}
                {{ field.label_tag }}
                {{ field }}
                <span class="help-block">{{ field.help_text }}</span>
            {% endfor %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
