{% extends "common/base.html" %}

{% block hero_desc %}Show graphs for KPI about Monitoring tools.{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}reporting/swfobject.js"></script>
<script type="text/javascript">
	// Pie chart
	swfobject.embedSWF(
		"{{ STATIC_URL }}reporting/ofc.swf", "chart_procedure",
		"300", "300", "9.0.0", "{{ STATIC_URL }}reporting/expressInstall.swf",
		{"data-file":"{% url optools.apps.reporting.views.procedure_stat_data %}"},
		null,
		{"styleclass":"chart piechart"}
	);
	
	// Total chart
	swfobject.embedSWF(
		"{{ STATIC_URL }}reporting/ofc.swf", "chart_total",
		"900", "300", "9.0.0", "{{ STATIC_URL }}reporting/expressInstall.swf",
		{"data-file":"{% url optools.apps.reporting.views.total_stat_data %}"},
		null,
		{"styleclass":"chart barchart"}
	);
</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span6">
        <h2>Procedure</h2>
        <div id="chart_procedure"></div>
    </div>
    <div class="span6">
        <h2>Total hosts / services</h2>
        <div id="chart_total"></div>
    </div>
</div>

<em class="pull-right"><strong>Notes:</strong> data are updated each weeks then aggregated (per month, year, etc.).</em>
{% endblock %}
