{% extends "common/base.html" %}

{% block hero_desc %}
Show graphs for KPI about Monitoring tools. This page is under construction, please come back later.
{% endblock %}

{% block content %}
<div class="row">
    <div class="span6">
        <h2>Procedure</h2>
        <p>Come back later...</p>
    </div>
    <div class="span6">
        <h2>Total hosts / services</h2>
        <p>Come back later...</p>
    </div>
</div>

<em class="pull-right"><strong>Notes:</strong> data are updated each weeks then aggregated (per month, year, etc.).</em>
{% endblock %}
