{% extends "common/base.html" %}

{% block content %}
<div class="page-header">
    <h1>Monitoring & Reporting <small>for Datacenters</small></h1>
</div>

<div class="row">
    <div class="span4">
        <p>This is the home of Monitoring for Datacenters. Select the web application depending on what you want to do.</p>
        <p>If you are not sure, select the <strong>Dashboard</strong> or look at the intended audience with colored <span class="badge badge-inverse">badges</span>.</p>
        <div class="alert alert-info">
            <strong>Heads up!</strong> If you are not already logged in, please
            do it now using the Login button in the top right corner.
            This will ask you also to edit your profile if not already done.
        </div>
        {% if old_browser %}
        <div class="alert alert-warning">
            <h4 class="alert-heading">Unsupported browser detected!</h4>
            It seems you are running an unsupported browser, please check why on our <a href="{% url browser_out_of_date %}">browser support</a> page.
        </div>
        {% endif %}
    </div>
    <div class="span8">
        <ul class="thumbnails">
            <li class="span4">
            <div class="thumbnail">
                <a href="/thruk"><img src="{{ STATIC_URL }}portal/img/dashboard_thumb.png" alt=""></a>
                <div class="caption">
                    <h3>Dashboard <span class="pull-right badge badge-inverse">Technical Desk</span></h3>
                    <p>This is the Nagios Dashboard, your central access point for monitored equipments and indicators.</p>
                </div>
            </div>
            </li>
            <li class="span4">
            <div class="thumbnail">
                <a href="https://hypervision.app.corp:16311/ibm/console/logon.jsp"><img src="{{ STATIC_URL }}portal/img/omnibus_thumb.png" alt=""></a>
                <div class="caption">
                    <h3>Hypervisor <span class="pull-right badge badge-info">Helpdesk</span></h3>
                    <p>The Hypervisor (Omnibus) centralizes all alerts coming from Monitoring tools.</p>
                </div>
            </div>
            </li>
            <li class="span4">
            <div class="thumbnail">
                <a href="http://orion.app.de.corp/"><img src="{{ STATIC_URL }}portal/img/orion_thumb.png" alt=""></a>
                <div class="caption">
                    <h3>WAN Monitoring <span class="pull-right badge badge-inverse">Technical Desk</span></h3>
                    <p>Orion focus on Monitoring the WAN network.</p>
                </div>
            </div>
            </li>
            <li class="span4">
            <div class="thumbnail">
                <a href="#"><img src="http://placehold.it/360x180/000000/ffffff/&text=Coming+soon!" alt=""></a>
                <div class="caption">
                    <h3>IT Alerts <small>(v2)</small><span class="pull-right badge badge-inverse">Technical Desk</span><span class="pull-right badge badge-info">Helpdesk</span></h3>
                    <p>IT Alerts system that keeps user informed about planned stop and outage on applications.</p>
                </div>
            </div>
            </li>

        </ul>
    </div>
</div>

<div class="page-header">
    <h2>Surrounding applications <small>help tracking request, provide documentation and give detail about development.</small></h2>
</div>

<div class="row">
    <div class="span4">
        <p>These applications are connected to each monitoring tools (see above).</p>
        <p>They help to keep track of requests, provide documentation and procedure.
        There is also a section that list the internal development done on plugins, scripts, etc...</p>
    </div>
    <div class="span8">
        <ul class="thumbnails">
            <li class="span2">
            <div class="thumbnail">
                <a href="/tracking"><img src="{{ STATIC_URL }}portal/img/redmine_thumb.png" alt=""></a>
                <div class="caption">
                    <h4>Request Tracker</h4>
                    <p>Track or create requests for Monitoring in Datacenters.</p>
                </div>
            </div>
            </li>
            <li class="span2">
            <div class="thumbnail">
                <a href="/doc"><img src="{{ STATIC_URL }}portal/img/doc_thumb.png" alt=""></a>
                <div class="caption">
                    <h4>Documentation</h4>
                    <p>Find out how to setup requirements to monitor a server, how to manage alerts, etc...</p>
                </div>
            </div>
            </li>
            <li class="span2">
            <div class="thumbnail">
                <a href="/kb"><img src="{{ STATIC_URL }}portal/img/kb_thumb.png" alt=""></a>
                <div class="caption">
                    <h4>Knowledge Base</h4>
                    <p>Store procedure (KB) attached to alerts here.</p>
                </div>
            </div>
            </li>
            <li class="span2">
            <div class="thumbnail">
                <a href="/git"><img src="{{ STATIC_URL }}portal/img/git_thumb.png" alt=""></a>
                <div class="caption">
                    <h4>Development</h4>
                    <p>Contribute or check out source code of some applications (plugins, etc...).</p>
                </div>
            </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
